@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
    /* ### Primary */

    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    /* ### Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}

.box:nth-child(1) { grid-area: box-1; background-color: var(--Purple-500); }
.box:nth-child(2) { grid-area: box-2; background-color: var(--Grey-500); }
.box:nth-child(3) { grid-area: box-3; background-color: var(--White); }
.box:nth-child(4) { grid-area: box-4; background-color: var(--White); }
.box:nth-child(5) { grid-area: box-5; background-color: var(--Dark-blue); }

body {
    background-color: var(--Grey-100);

    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: 300px 270px;
    /* grid-template-rows: repeat(2, 320px); */
    gap: 2rem;
    width: 100%;

    grid-template-areas: 
        "box-1 box-1 box-2 box-3"
        "box-4 box-5 box-5 box-3"
    ;
}

img {
    /* border: var() 2px solid; */
    border-radius: 50%;
    /* width: 32px */
}

p {
    font-size: 15px;
}

.box-5 p {
    font-size: 14;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 0;
}

.verified-graduate {
    font-size: 12px;
}

.box {
    background-color: rgba(241, 182, 201, 0.842);
    border-radius: 10px;
    padding: 1.8rem 2rem;
    display: flex;
    /* gap: 0.5rem; */
    flex-direction: column;
    box-shadow: #00000021 20px 40px 30px 5px;
}

.box-info {
    display: flex;
    gap: 1.5rem;
}

.box-info img {
    /* border: var(--Purple-300) 2px solid; */
    border-radius: 50%;
    width: 7%;
    width: 32px
}

.box-1 {
    color: var(--White);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 4rem;

}

.box-1 p {
    color: var(--Purple-50);
}

.box-1 img {
    border: var(--Purple-300) 2px solid;
}

.box-1 .bg-pattern-quotation {
    position: relative;
    border: none;
    border-radius: 0;
    width: 15%;
}

.box-2 {
    color: var(--Grey-100);
}

.box-4 {
    color: var(--Grey-500);
}

.box-3 {
    color: var(--Grey-500);
}

.box-5 {
    color: var(--Grey-200);
}

.box-5 img {
    border: var(--Purple-500) 2px solid;
    border-radius: 50%;
    width: 7%;
}

@media (max-width: 768px) {    

    .box {
        box-shadow: #00000021 5px 15px 30px 5px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: auto;
        /* grid-template-rows: repeat(2, 320px); */
        gap: 2rem;
        width: 100%;

        grid-template-areas: 
            "box-1 box-1"
            "box-2 box-3"
            "box-4 box-3"
            "box-5 box-5"
        ;
    }
}

@media (max-width: 480px) {

    body {
        margin: 4em 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 330px);
        grid-template-rows: auto;
        /* grid-template-rows: repeat(2, 320px); */
        gap: 2rem;
        width: 100%;

        grid-template-areas: 
        "box-1"
        "box-2"
        "box-4"
        "box-5"
        "box-3"
        ;
    }

}

@media (max-width: 375px){

    body {
        margin: 4em 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: auto;
        /* grid-template-rows: repeat(2, 320px); */
        gap: 2rem;
        width: 100%;

        grid-template-areas: 
        "box-1"
        "box-2"
        "box-4"
        "box-5"
        "box-3"
        ;
    }

    .box {
        box-shadow: #00000021 35px 15px 30px 5px;
    }

    .box-1 {
        background-image: none;
    }
}

